# Dataframe from file 

Pandas supports loading data from multiple file formats, including: excel, csv, json, xml

In [1]:
import pandas as pd

In [6]:
# Read csv file with pandas
students = pd.read_csv('../Data/students.csv', header=0)
students.head(1)

  class                             email  name
0  AI23  adam@gmail.com, adam@hotmail.com  adam

In [7]:
# Read json file with pandas 
autos = pd.read_json('../Data/autos.json')

#Show part och data with head functon -> head() is set default to 5
autos.head()

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,...,alfa-romero,NaN,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,...,alfa-romero,NaN,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,...,alfa-romero,NaN,six,two,5000.0,16500.0,3.47,1,94.5,65.5
3,std,sedan,3.19,24,10.0,2337,fwd,front,109,ohc,...,audi,164.0,four,four,5500.0,13950.0,3.40,2,99.8,66.2
4,std,sedan,3.19,18,8.0,2824,4wd,front,136,ohc,...,audi,164.0,five,four,5500.0,17450.0,3.40,2,99.4,66.4

In [5]:
#Read excel data whit pandas 
scb = pd.read_excel('../Data/scb_pop.xlsx', skiprows=3)
scb.head()

,Unnamed: 0,2022,2021,2020,2019,2018,2017,2016,2015,2014,...,1986,1985,1984,1983,1982,1981,1980,1975,1970,1960
0,FolkmÃ¤ngd 31 december,10521556,10452326,10379295,10327589,10230185,10120242,9995153,9851017,9747355,...,8.381515e+06,8.358139e+06,8.342621e+06,8.330573e+06,8.327484e+06,8.323033e+06,8.317937e+06,8.208442e+06,8.081229e+06,7.497967e+06
1,MÃ¤n,5298324,5260707,5222847,5195814,5142438,5082662,5013347,4930966,4872240,...,4.137513e+06,4.127110e+06,4.120549e+06,4.116137e+06,4.117357e+06,4.118622e+06,4.119822e+06,4.081263e+06,4.035911e+06,3.740119e+06
2,Kvinnor,5223232,5191619,5156448,5131775,5087747,5037580,4981806,4920051,4875115,...,4.244002e+06,4.231029e+06,4.222072e+06,4.214436e+06,4.210127e+06,4.204411e+06,4.198115e+06,4.127179e+06,4.045318e+06,3.757848e+06
3,Antal personer 0-17 Ã¥r,2194785,2198240,2189403,2180508,2155379,2121598,2076407,2025077,1985282,...,1.836443e+06,1.844497e+06,1.865377e+06,1.893161e+06,1.925186e+06,1.956842e+06,1.977226e+06,2.012638e+06,2.007012e+06,2.046306e+06
4,Personer 0-17 Ã¥r i % av hela befolkningen,20.9,21,21.1,21.1,21.1,21,20.8,20.6,20.4,...,2.191063e+01,2.206827e+01,2.235960e+01,2.272546e+01,2.311846e+01,2.351116e+01,2.377063e+01,2.451912e+01,2.483548e+01,2.729148e+01

In [8]:
# Ways to show the data 
autos.head(10) # Nr to show from start 
autos.tail()  # Nr to show from end 
autos.sample(5) # Nr of samples from all data

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
58,std,hatchback,NaN,16,9.4,2500,rwd,front,80,rotor,...,mazda,150.0,two,two,6000.0,15645.0,NaN,3,95.3,65.7
128,std,convertible,3.74,17,9.5,2800,rwd,rear,194,ohcf,...,porsche,NaN,six,two,5900.0,37028.0,2.90,3,89.5,65.0
138,std,hatchback,3.62,31,9.0,2050,fwd,front,97,ohcf,...,subaru,83.0,four,two,4900.0,5118.0,2.36,2,93.7,63.4
96,std,sedan,3.15,31,9.4,1971,fwd,front,97,ohc,...,nissan,122.0,four,four,5200.0,7499.0,3.29,1,94.5,63.8
83,turbo,hatchback,3.59,19,7.0,2921,fwd,front,156,ohc,...,mitsubishi,NaN,four,two,5000.0,14869.0,3.86,3,95.9,66.3

In [12]:
#Set options how the dataframe to be shown
pd.set_option('display.max_columns', None)
pd.set_option("display.max_rows", 6)

In [17]:
# shape reference function returns a tuple with rows and col

# Save rows and col each in a variable 
rows, columns = autos.shape
print(f'Dataframe has {rows} rows and {columns} colums!')

Dataframe has 205 rows and 26 colums!

In [19]:
#Save nr of rows from dataframe using len function
rows = len(autos)

#Save nr of columns from datafram using len function 
columns = len(autos.columns)

print(f'Dataframe has {rows} rows and {columns} colums!')

Dataframe has 205 rows and 26 colums!

In [20]:
autos.info

<bound method DataFrame.info of     aspiration   body-style  bore  city-mpg  compression-ratio  curb-weight  \
0          std  convertible  3.47        21                9.0         2548
1          std  convertible  3.47        21                9.0         2548
2          std    hatchback  2.68        19                9.0         2823
3          std        sedan  3.19        24               10.0         2337
4          std        sedan  3.19        18                8.0         2824
..         ...          ...   ...       ...                ...          ...
200        std        sedan  3.78        23                9.5         2952
201      turbo        sedan  3.78        19                8.7         3049
202        std        sedan  3.58        18                8.8         3012
203      turbo        sedan  3.01        26               23.0         3217
204      turbo        sedan  3.78        19                9.5         3062

    drive-wheels engine-location  engine-size engine-type fuel-system  \
0            rwd           front          130        dohc        mpfi
1            rwd           front          130        dohc        mpfi
2            rwd           front          152        ohcv        mpfi
3            fwd           front          109         ohc        mpfi
4            4wd           front          136         ohc        mpfi
..           ...             ...          ...         ...         ...
200          rwd           front          141         ohc        mpfi
201          rwd           front          141         ohc        mpfi
202          rwd           front          173        ohcv        mpfi
203          rwd           front          145         ohc         idi
204          rwd           front          141         ohc        mpfi

    fuel-type  height  highway-mpg  horsepower  length         make  \
0         gas    48.8           27       111.0   168.8  alfa-romero
1         gas    48.8           27       111.0   168.8  alfa-romero
2         gas    52.4           26       154.0   171.2  alfa-romero
3         gas    54.3           30       102.0   176.6         audi
4         gas    54.3           22       115.0   176.6         audi
..        ...     ...          ...         ...     ...          ...
200       gas    55.5           28       114.0   188.8        volvo
201       gas    55.5           25       160.0   188.8        volvo
202       gas    55.5           23       134.0   188.8        volvo
203    diesel    55.5           27       106.0   188.8        volvo
204       gas    55.5           25       114.0   188.8        volvo

     normalized-losses num-of-cylinders num-of-doors  peak-rpm    price  \
0                  NaN             four          two    5000.0  13495.0
1                  NaN             four          two    5000.0  16500.0
2                  NaN              six          two    5000.0  16500.0
3                164.0             four         four    5500.0  13950.0
4                164.0             five         four    5500.0  17450.0
..                 ...              ...          ...       ...      ...
200               95.0             four         four    5400.0  16845.0
201               95.0             four         four    5300.0  19045.0
202               95.0              six         four    5500.0  21485.0
203               95.0              six         four    4800.0  22470.0
204               95.0             four         four    5400.0  22625.0

     stroke  symboling  wheel-base  width
0      2.68          3        88.6   64.1
1      2.68          3        88.6   64.1
2      3.47          1        94.5   65.5
3      3.40          2        99.8   66.2
4      3.40          2        99.4   66.4
..      ...        ...         ...    ...
200    3.15         -1       109.1   68.9
201    3.15         -1       109.1   68.8
202    2.87         -1       109.1   68.9
203    3.40         -1       109.1   68.9
204    3.15         -1       109.1   68.9

[205 rows x 26 columns]>

# Convert to common formats

In [ ]:
# Copy dataframe to clipbord (then use ctrl+V)
autos.to_clipboard()

In [22]:
autos.to_csv('../Data/autos.csv', index=None)
csv_string = autos.to_csv()
print(csv_string[:1000])

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,fuel-system,fuel-type,height,highway-mpg,horsepower,length,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,mpfi,gas,52.4,26,154.0,171.2,alfa-romero,,six,two,5000.0,16500.0,3.47,1,94.5,65.5
3,std,sedan,3.19,24,10.0,2337,fwd,front,109,ohc,mpfi,gas,54.3,30,102.0,176.6,audi,164.0,four,four,5500.0,13950.0,3.4,2,99.8,66.2
4,std,sedan,3.19,18,8.0,2824,4wd,front,136,ohc,mpfi,gas,54.3,22,115.0,176.6,audi,164.0,five,four,5500.0,17450.0,3.4,2,99.4,66.4
5,std,sedan,3.19,19,8.5,2507,fwd,front,136,ohc,mpfi,ga

In [23]:
autos.to_json('../Data/autos.json', orient='records')
json_string = autos.to_json(indent=4, orient='records')
print(json_string[:200])

[
    {
        "aspiration":"std",
        "body-style":"convertible",
        "bore":3.47,
        "city-mpg":21,
        "compression-ratio":9.0,
        "curb-weight":2548,
        "drive-wheels":

In [26]:
my_dict = autos.to_dict(orient='records')
my_dict[3]

{'aspiration': 'std',
 'body-style': 'sedan',
 'bore': 3.19,
 'city-mpg': 24,
 'compression-ratio': 10.0,
 'curb-weight': 2337,
 'drive-wheels': 'fwd',
 'engine-location': 'front',
 'engine-size': 109,
 'engine-type': 'ohc',
 'fuel-system': 'mpfi',
 'fuel-type': 'gas',
 'height': 54.3,
 'highway-mpg': 30,
 'horsepower': 102.0,
 'length': 176.6,
 'make': 'audi',
 'normalized-losses': 164.0,
 'num-of-cylinders': 'four',
 'num-of-doors': 'four',
 'peak-rpm': 5500.0,
 'price': 13950.0,
 'stroke': 3.4,
 'symboling': 2,
 'wheel-base': 99.8,
 'width': 66.2}